apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: grafana
  namespace: grafana
spec:
  interval: 5m
  url: https://grafana.github.io/helm-charts
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: grafana
  annotations:
    force: "true"
    helm.toolkit.fluxcd.io/restartedAt: "2025-12-30T00:00:00Z"
spec:
  interval: 10m
  timeout: 5m
  targetNamespace: grafana
  chart:
    spec:
      chart: grafana
      version: '12.1.8'
      sourceRef:
        kind: HelmRepository
        name: grafana
      interval: 5m
  releaseName: grafana
  values:
    grafana.ini:
      app_mode: production
      server:
        domain: monitoring.menghi.uy
        root_url: https://monitoring.menghi.uy

      users:
        allow_sign_up: false

      auth:
        disable_login_form: true

      auth.generic_oauth:
        enabled: true
        name: Dex
        allow_sign_up: true
        client_id: $__file{/etc/secrets/dex_grafana_client/client-id}
        client_secret: $__file{/etc/secrets/dex_grafana_client/client-secret}
        scopes: openid profile email groups
        ;empty_scopes: false
        email_attribute_path: email
        ;id_token_attribute_name:
        auth_url: https://login.menghi.uy/dex/auth
        token_url: https://login.menghi.uy/dex/token
        api_url: https://login.menghi.uy/dex/userinfo
        role_attribute_path: contains(groups[*], 'cristianmenghi:admin') && 'Admin' || 'Viewer'

    extraSecretMounts:
      - name: dex-grafana-client
        secretName: dex-grafana-client
        defaultMode: 0440
        mountPath: /etc/secrets/dex_grafana_client
        readOnly: true

    plugins:
      - oci-metrics-datasource

    ingress:
      enabled: false
    sidecar:
      dashboards:
        enabled: true
        logLevel: INFO
        searchNamespace: grafana
        label: grafana_dashboard
      datasources:
        enabled: true
        searchNamespace: grafana
